Downloads/Em_Master_support_live/pipeline/ForeachVisitorCSV.json
{
    "name": "ForeachVisitorCSV",
    "properties": {
        "activities": [
            {
                "name": "GetFileName",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ParentExceFolder",
                        "type": "DatasetReference",
                        "parameters": {
                            "Folder": {
                                "value": "@pipeline().parameters.ParentFolder",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "BinaryReadSettings"
                    }
                }
            },
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "GetFileName",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('GetFileName').output.childItems",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Data flow1",
                            "type": "ExecuteDataFlow",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataflow": {
                                    "referenceName": "DF_LoadCsvDataQuality_new",
                                    "type": "DataFlowReference",
                                    "parameters": {
                                        "FileName": {
                                            "value": "'@{item().name}'",
                                            "type": "Expression"
                                        },
                                        "Folder": {
                                            "value": "'@{pipeline().parameters.ParentFolder}'",
                                            "type": "Expression"
                                        }
                                    },
                                    "datasetParameters": {
                                        "source1": {
                                            "Filename": {
                                                "value": "@item().name",
                                                "type": "Expression"
                                            },
                                            "Folder": {
                                                "value": "@pipeline().parameters.ParentFolder",
                                                "type": "Expression"
                                            }
                                        },
                                        "source3": {
                                            "Filename": {
                                                "value": "@item().name",
                                                "type": "Expression"
                                            },
                                            "Folder": {
                                                "value": "@pipeline().parameters.ParentFolder",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                },
                                "compute": {
                                    "coreCount": 32,
                                    "computeType": "MemoryOptimized"
                                },
                                "traceLevel": "Fine"
                            }
                        },
                        {
                            "name": "Copy data1",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "Data flow1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "BinarySource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": true,
                                        "deleteFilesAfterCompletion": true
                                    },
                                    "formatSettings": {
                                        "type": "BinaryReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "BinarySink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    }
                                },
                                "enableStaging": false
                            },
                            "inputs": [
                                {
                                    "referenceName": "SourceFilesExcel",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "FileName": {
                                            "value": "@item().name",
                                            "type": "Expression"
                                        },
                                        "Folder": {
                                            "value": "@pipeline().parameters.ParentFolder",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "TreatedFiles",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "Filename": {
                                            "value": "@item().name",
                                            "type": "Expression"
                                        },
                                        "Folder": {
                                            "value": "@pipeline().parameters.ParentFolder",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "ParentFolder": {
                "type": "string"
            }
        },
        "variables": {
            "GetColumns": {
                "type": "Array"
            },
            "listclumn": {
                "type": "String"
            }
        },
        "folder": {
            "name": "EM/CSV"
        },
        "annotations": [],
        "lastPublishTime": "2023-06-13T00:41:21Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}