Downloads/Em_Master_support_live/pipeline/LoadToODSDataResearch.json
{
    "name": "LoadToODSDataResearch",
    "properties": {
        "activities": [
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get Metadata1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get Metadata1').output.childItems",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "ODS_Data_Research",
                            "type": "ExecuteDataFlow",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataflow": {
                                    "referenceName": "Load_DF_Ods_DataResearch",
                                    "type": "DataFlowReference",
                                    "parameters": {
                                        "FileName": {
                                            "value": "'@{item().name}'",
                                            "type": "Expression"
                                        }
                                    },
                                    "datasetParameters": {
                                        "source1": {
                                            "FileName": {
                                                "value": "@item().name",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                },
                                "staging": {
                                    "linkedService": {
                                        "referenceName": "dwtc-bi-WorkspaceDefaultStorage",
                                        "type": "LinkedServiceReference"
                                    },
                                    "folderPath": "dwtcfilestest/Staging storage"
                                },
                                "compute": {
                                    "coreCount": 8,
                                    "computeType": "General"
                                },
                                "traceLevel": "Fine"
                            }
                        }
                    ]
                }
            },
            {
                "name": "Get Metadata1",
                "type": "GetMetadata",
                "dependsOn": [
                    {
                        "activity": "Truncate table ODS_DATA_RESEARCH",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "LandingZoneDataResearchFiles",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "Truncate table ODS_DATA_RESEARCH",
                "type": "Script",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "linkedServiceName": {
                    "referenceName": "dwtc-bi-WorkspaceDefaultSqlServer",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "DBName": "DWTC_DWH"
                    }
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "type": "Query",
                            "text": "truncate table [ods].[EM_DATA_RESEARCH]"
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                }
            }
        ],
        "folder": {
            "name": "EM/CSV"
        },
        "annotations": [],
        "lastPublishTime": "2023-06-13T00:44:08Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}